body {
  background-color: lightgrey;
}

h1 {
  color: black;
  font-family: verdana;
  font-size: 24px
  text-align: center;
}

h2 {
  color: black;
  font-family: verdana;
  font-size: 20px
  text-align: center;
}

ul {
  color: black;
  font-family: verdana;
  font-size: 20px
  text-align: center;
  padding: 10px
}

p {
  font-family: verdana;
  font-size: 18px;
}